<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">



  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Stock Engine</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/boot.css">
<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <style>
     body {
        background-color: #FFFFF0;
        opacity: 100.0;
        filter: alpha(opacity=20);
        background-image: url("/static/img/im.jpg");
        background-size: 150% 150%;
        background-blend-mode: normal;
        padding-top: 90px;
      }
      </style>

  <!-- Bootstrap -->

</head>

<body>
    <div class="jumbotron">
        <div class="container-fluid text-center">
          <h1 style="color:red">LOGIN FAILED!!!!</h1>
          <hr />
          <h2><a href = "/">Go to Login Page and try again</a></h2> 
        </div>
    </div>




<script>
$(window).on('resize',function() {
     var docHeight = $(window).height();
     var footerHeight = $('#footer').height();
     var footerTop = $('#footer').position().top + footerHeight;

     if (footerTop < docHeight) {
      $('#footer').css('margin-top', -30 + (docHeight - footerTop) + 'px');
     }
    });
    $(document).ready(function() {
        $(window).trigger('resize');
    });
</script>

</body>
</html>
